<!doctype html>
<html lang="en">
<head>
    <%- include('components/head'); -%>
</head>
<body>
<div style="padding: 0 20px; margin-bottom: 20px;">
    <h1>
        Node.js + EJS + Alpine.js
    </h1>
    <div style="font-weight: bold;">Pages:</div>
    <ul>
        <li><a href="/?<%= writeParams(params, ['page', 'components']) %>" style="<%= route === '/'?'font-weight: bold':'' %>">Home</a></li>
        <li><a href="/about?<%= writeParams(params, ['page', 'components']) %>" style="<%= route === '/about'?'font-weight: bold':'' %>">About</a></li>
        <li><a href="/clear-cache">Clear cache</a></li>
    </ul>
    <div style="font-weight: bold;">Params:</div>
    <ul>
        <li>cache=0 - Disable cache, default: 1</li>
        <li>timeout=100 - Timeout for simulate DB, default: 0</li>
        <li>count=100 - Count Products, default: 100</li>
    </ul>
    <a href="/api">
        JSON Products with cache
    </a>
    <br>
    <a href="/">
        HTML Products with cache
    </a>
    <br>
</div>
<div x-data="{ products: [], existProducts: [] }" style="display: flex; flex-wrap: wrap"
     x-init="(await fetch('/api?<%= writeParams(params, ['page', 'components']) %>')).json().then(ps => products = ps);
            const asyncPaginate = async (event) => {
                if(event.target.tagName === 'A' && event.target.classList.contains('js-paginate-link')){
                    event.preventDefault();
                    event.target.innerText = '⚙';
                    const href = event.target.href;
                    (void 0 !== history.pushState ? history.pushState(null, document.title, href) : window.location.assign(href));
                    (await fetch(href+'&components=products')).text().then(t => {
                        $el.innerHTML = t;
                    });
                }
            }
            $el.addEventListener('click', asyncPaginate);
">
    <%- include('components/products', {products, params, writeParams}); -%>
</div>

</body>
</html>